<br>
<a routerLink="/administracion/crearProducto" class="btn">Nuevo Producto</a>
<table class="table responsive">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>{{p.nombre}}</td>
            <td>${{p.precio}}</td>
            <td><img src="{{p.imagen}}" alt="{{p.nombre}}-${{p.precio}}" class="imagenProducto"></td>
            <td>
                <a routerLink="/administracion/editarProducto/{{p.id}}" class="btn">Editar</a> &nbsp;
                <a routerLink="/administracion/eliminarProducto/{{p.id}}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>

<br>
